<h1><%=l(@entity[:label].to_sym)%></h1>
<% @result.each do |id, entity| %>
	<h2><%=entity[:name]%></h2> 
	<% entity[:data].each do |entry| %>
		</h3><%=entry[:date].localtime.strftime("%F %T")%> - <%=entry[:user]%></h3>
		<ul>
		<% entry[:data].each do |e| %>
			
			<% if e.auditable_type == @entity[:model].to_s %> 
				<% e.audited_changes.each do |field, change| %>
					<li><b><%=l(("field_"+field).to_sym, :default => field)%>: </b> <%=change[0]%> -> <%=change[1]%>
				<% end %>
			<% else %>
				<% e.audited_changes.each do |a, change| %>
					<li><b><%=l((e.auditable.custom_field.name).to_sym, :default => e.auditable.custom_field.name)%>: </b> <%=change[0]%> -> <%=change[1]%>
				<% end %>
			<% end %>
		<% end %>
		</ul>
	<% end %>
<% end %>